@import "partials/_sass-mixins";
@import "partials/_layout";
@import "partials/_colors";
@import "partials/_icons";
@import "partials/_helpers";
@import "partials/_defaults";
@import "partials/_typography";

body.menu-on {
    @include break-max($m-1){
        overflow-y: hidden;
    }
}

.site-header {
    .layout-wrap {
        @include clearfix;
    }
    .logo {
        @include break-min($m){
            width: 19em;
            height: 3.35em;
        }
        a {
            background: transparent url("../images/logo.png")no-repeat center center/contain;
            text-indent: -999em;
            height: 100%;
        }
        float: left;
        width: 14em;
        height: 2.5em;
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }
    .tel {
        @include break-min($m){
            font-size: 3.1em;
            margin-top: .7em;
        }
        font-size: 1.5em;
        margin-top: 3.5em;
        letter-spacing: -.05em;
        float: right;
    }
    .site-nav-trigger {
        @include break-min($m){
            display: none;
        }
        .menu-on & {
            border-color: #fff;
            color: $color-primary;
            background-color: #fff;
            padding: .3em 0 0 .4em;
        }
        border: 1px solid $color-primary;
        position: absolute;
        top: .5em;
        right: .5em;
        z-index: 500;
        line-height: 1;
        font-size: 2.4em;
        height: 1.5em;
        width: 1.5em;
        padding: .2em 0 0 .25em;
    }
    [class*="btn"] {
        &:hover {
            box-shadow: 0 0 .375em rgba(0, 0, 0, .25);
        }
        &:active {
            transform: translateY(2px);
        }
        transition: box-shadow .25s ease-in-out;
        @include break-min($m){
            float: right;
            margin: 1.25em 0 0;
        }
        font-size: 1.6em;
    }
    border-top: .6em solid $color-primary;
}

.site-nav {
    .menu-on & {
        display: block;
        z-index: 400;
    }
    @include break-min($m){
        position: static;
        left: auto;
        z-index: auto;
        display: block;
        width: auto;
        top: auto;
        height: auto;
        overflow-y: visible;
    }
    .list-reset {
        @include break-max($m-1){
            padding-right: 0;
        }
    }
    .menu-item {
        @include break-min($m){
            padding: 0 2.25em;
            display: inline-block;
        }
        display: block;
    }
    .current_page_item {
        @include break-min($m){
            position: relative;
        }
        a {
            @include break-max($m-1){
                background-color: lighten($color-primary, 5%);
            }
        }
    }
    .current_page_item:before {
        @include break-min($m){
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-top: 17px solid $color-primary;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
        }
    }
    a {
        @include break-min($m){
            font-size: 1.2em;
            display: inline-block;
            border-bottom: none;
        }
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5em;
        display: block;
        padding: 1em 0;
        letter-spacing: .05em;
        border-bottom: 1px solid rgba(255, 255, 255, .25);
        text-align: center;
    }
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.hero {
    @include break-min(60em){
        padding-bottom: 0;
        height: 34.5em;
        background-size: cover;
    }
    [class*="home-php"] & {
        @include break-min(60em){
            background-position: center 35%;
        }
    }
    [class*="services-php"] & {
        @include break-min(60em){
            background-position: center 20%;
        }
    }
    padding-bottom: 35.5%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
}

.tagline {
    &:before {
        @include abs-pos(100%, auto, auto, 50%);
        transform: translateX(-50%);
        content: "";
        display: block;
        border-left: 1.8em solid transparent;
        border-right: 1.8em solid transparent;
        border-top: 1.8em solid $color-primary;
    }
    body[class*="default"] &:before {
        display: none;
    }
    body[class*="default"] & .layout-wrap {
        @include break-min($m){
            position: relative;
        }
        &:before {
            @include abs-pos(100%, auto, auto, 5em);
            transform: translateX(-50%);
            content: "";
            display: block;
            border-left: 1.8em solid transparent;
            border-right: 1.8em solid transparent;
            border-top: 1.8em solid $color-primary;
        }
    }
    h2 {
        @include break-min($m){
            padding: .75em 0;
        }
        padding: 1em 0;
        text-align: center;
        font-weight: 400;
    }
    position: relative;
}

.secondary {
    @include break-min($m){
        @include clearfix;
        padding: 5em 0;
    }
    h3, h4, h5, h6 {
        font-weight: 700;
        color: $color-primary;
    }
    h4, h5, h6 {
        margin: 0 0 .5em;
    }
    h3 {
        @include break-min($m){
            font-size: 2.8em;
        }
        font-size: 2.4em;
        margin: 0 0 1em;
    }
    h4 {
        @include break-min($m){
            font-size: 2em;
        }
        font-size: 1.5em;
    }
    h5 {
        @include break-min($m){
            font-size: 1.8em;
        }
        font-size: 1.35em;;
    }
    h6 {
        @include break-min($m){
            font-size: 1.6em;
        }
        font-size: 1.2em;
    }
    ul, p {
        @include break-min($m){
            font-size: 1.6em;
        }
        font-size: 1.2em;
        color: $color-dark;
    }
    p {
        margin: 0;
        padding: 0 0 1.25em;
        line-height: 1.5;
    }
    strong {
        color: $color-primary;
    }
    .item {
        &:first-child {
            @include break-min($m){
                padding: 0 2em;
            }
            @include break-min($l){
                padding: 0 3em;
            }
            padding: 5em 0;
        }
        @include break-min($m){
            float: left;
            width: calc(1/3 * 100%);
            padding: 0 2em;
        }
        @include break-min($l){
            padding: 0 3em;
        }
        padding: 0 0 5em;
    }
    [class*="icon-"] {
        @include break-min($m){
            font-size: 3.5em;
        }
        border-radius: 50%;
        width: 2em;
        height: 2em;
        font-size: 2em;
        padding: .55em .5em .21em;
    }
    .item-body {
        font-size: 1.4em;
        margin: 3.85714em 0 0;
        padding: 0;
        line-height: 1.5;
    }
    i + .item-body {
      margin-top: 1em;
    }
}

.services-primary {
    @include break-min($m){
        @include clearfix;
    }
    .item {
        @include break-min($m){
            float: left;
            width: 50%;
            padding: 0 3em 5em;
        }
        @include break-min($l){
            padding: 0 5em 5em;
        }
        padding: 0 0 5em;
    }
    .item__title {
        @include break-min($m){
            font-size: 2.4em;
        }
        font-size: 1.8em;
    }
    .item-body {
        @include break-min($m){
            font-size: 1.8em;
        }
        font-size: 1.4em;
        line-height: 1.85;
        margin: .5em 0 0;
        color: #6d6e71;
    }
    padding: 5em 0 0;
}

.services-secondary {
    .heading {
        @include break-min($m){
            font-size: 2.4em;
        }
        font-size: 1.8em;
    }
    .heading a {
        &:hover {
            border-bottom: 1px solid rgba(91, 158, 62, 1);
        }
        border-bottom: 1px dotted rgba(91, 158, 62, .5);
    }
    .service-list {
        @include break-min($m){
            margin-top: 4em;
            padding-bottom: 2em;
        }
        margin-top: 4em;
        padding-bottom: 1em;
    }
    .service-item {
        @include break-min($m){
            width: 50%;
            margin-bottom: .75em;
        }
        margin-bottom: 1.5em;
        width: 100%;
        vertical-align: top;
    }
    .service-item.open {
        @include break-min($m){
            width: calc(50% - 2em);
            margin-right: 2em;
            padding-top: 1em;
            background-color: #fff;
        }
    }
    .cost {
        @include break-min($m){
            font-size: 2.4em;
        }
        font-size: 1.8em;
        padding-right: .75em;
    }
    .open .cost {
        @include break-min($m){
            padding-left: .75em;
        }
    }
    .name {
        @include break-min($m){
            font-size: 1.6em;
        }
        font-size: 1.2em;
    }
    .trigger-service {
        @include break-min($m){
            font-size: 1.6em;
        }
        font-size: 1.2em;
        margin-left: .25em;
        vertical-align: middle;
    }
    .open .details {
        max-height: none;
        height: auto;
        padding: 0 1em;
        margin: 1em 0;
    }
    .details {
        @include break-min($m){
            font-size: 1.6em;
        }
        max-height: 0;
        height: 0;
        margin: 0;
        font-size: 1.2em;
        line-height: 1.5;
        overflow: hidden;
    }
    .details a {
        &:hover {
            border-bottom: 1px solid rgba(91, 158, 62, 1);
        }
        color: $color-primary;
        border-bottom: 1px dotted rgba(91, 158, 62, .5);
    }
    padding: 5em 0 0;
}

.wysiwyg {
    &.split {
        .main, .complement {
            @include break-min($m){
                display: inline-block;
                vertical-align: top;
            }
        }
        .main {
            @include break-min($m){
                padding-bottom: 0;
                padding-right: 5em;
                width: 65%;
            }
            padding-bottom: 5em;
            padding-right: 0;
        }
        .complement {
            @include break-min($m){
                padding-left: 5em;
                width: 35%;
            }
            padding-left: 0;
        }
    }
    h3, h4, h5, h6 {
        font-weight: 700;
        color: $color-primary;
    }
    h4, h5, h6 {
        margin: 0 0 .5em;
    }
    h3 {
        @include break-min($m){
            font-size: 2.8em;
        }
        font-size: 2.4em;
        line-height: 1;
        margin: 0 0 1em;
    }
    h4 {
        @include break-min($m){
            font-size: 2em;
        }
        font-size: 1.5em;
    }
    h5 {
        @include break-min($m){
            font-size: 1.8em;
        }
        font-size: 1.35em;;
    }
    h6 {
        @include break-min($m){
            font-size: 1.6em;
        }
        font-size: 1.2em;
    }
    ul, p {
        @include break-min($m){
            font-size: 1.6em;
        }
        font-size: 1.2em;
        color: $color-dark;
    }
    p {
        margin: 0;
        padding: 0 0 1.25em;
        line-height: 1.5;
    }
    strong {
        color: $color-primary;
    }
    .complement ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
    }
    .complement .teammates {
        border: 1px solid #f2f2f2;
    }
    ul {
        margin: 1.25em 0;
        padding-left: 2.5em;
    }
    p + ul {
        margin-top: 0;
    }
    ul + p {
        padding-top: 0;
    }
    li {
        line-height: 1.5;
    }
    .teammates li {
        &:first-child {
            border-top: none;
        }
        margin: 0;
        border-top: 1px solid #f2f2f2;
    }
    a {
        &:hover {
            border-bottom: 1px solid rgba(91, 158, 62, 1);
        }
        color: $color-primary;
        border-bottom: 1px dotted rgba(91, 158, 62, .5);
    }
    .teammate-bio {
        display: none;
    }
    .teammate-bio.focus {
        &:before,
        &:after {
            content: "";
        }
        &:after {
            display: table;
            clear: both;
        }
        display: block;
    }
    .teammates a {
        &:hover {
            border-bottom: none;
        }
        &.focus {
            padding-left: 2em;
            background-color: #5b9e3e;
            color: #fff;
        }
        display: block;
        padding: .5em 0 .5em 1em;
        border-bottom: none;
    }
    img {
        display: block;
        margin-bottom: 1em;
        max-width: 100%;
    }
    @include break-min($m){
        img.alignleft {
            float: left;
            margin-right: 1em;
        }
        img.alignright {
            float: right;
            margin-left: 1em;
        }
        img.aligncenter {
            margin-left: auto;
            margin-right: auto;
        }
        img.alignleft,
        img.alignright,
        img.aligncenter {
            max-width: 65%;
        }
    }
    padding: 5em 0 10em;
}

.hours ul.color-med {
    @include list-reset;
    li {
        display: list-item;
    }
}

.outro {
    @include break-min($m){
        @include clearfix;
        text-align: left;
    }
    .contact {
        @include break-min($m){
            width: calc(2/3 * 100%);
            float: left;
            padding: 0 7em 0 0;
        }
    }
    .hours {
        @include break-min($m){
            width: calc(1/3 * 100%);
            float: left;
        }
    }
    .method {
        padding: 0 0 3em;
    }
    .method > p {
        font-size: 1.8em;
        margin: 0;
    }
    .phone {
        font-size: 3.1em;
    }
    .icon-pin-map {
        @include break-min($s){
            margin-left: 0;
        }
        font-size: 4.4em;
        vertical-align: sub;
        margin-left: -.19em;
    }
    .postal-address {
        @include break-min($s){
            width: auto;
            vertical-align: inherit;
        }
        font-size: 1.8em;
        font-style: normal;
        width: 13em;
        vertical-align: top;
    }
    .btn-share {
        &:hover {
            box-shadow: 0 0 .375em rgba(0, 0, 0, .25);
        }
        &:active {
            transform: translateY(2px);
        }
        @include break-min($m){
            margin: 0 .75em 0 0;
        }
        transition: box-shadow .25s ease-in-out;
        border-radius: 50%;
        font-size: 2em;
        width: 2em;
        height: 2em;
        margin: 0 .75em;
        padding: .55em .5em .21em;
    }
    li {
        margin: 0 0 1em;
    }
    li:last-child {
        margin-bottom: 0;
    }
    .allcaps {
        font-size: 2.2em;
        margin: 0 0 .15em;
    }
    .label {
        font-size: 1.8em;
        margin: 0;
    }
    .value {

        font-size: 1.6em;
    }
    padding: 5em 0 0;
}
.post {
    &__header {
        h3 a {
            &:hover {
                border-bottom: none;
            }
            border-bottom: none;
        }
    }
}
.page-id-92 {
    .layout-wrap > ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    .layout-wrap > ul li {
        @include break-min($s){
            width: 48%;
        }
        width: 100%;
        padding-bottom: 1.25em;
        display: inline-block;
        vertical-align: top;
    }
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    &:focus {
        border-color: #5b9e3e;
    }
    max-width: 100%;
    transition: border-color .25s ease-in-out;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #dfdfdf;
    font-family: inherit;
    color: #414042;
    padding: .25em .5em;
    font-size: 1.2em;
    display: block;
}
.gfield_error input[type="text"],
.gfield_error input[type="email"],
.gfield_error input[type="tel"],
.gfield_error textarea {
    &:focus {
        border-color: #C00;
    }
    border-color: #C00;
}
input[type="submit"] {
    &:hover {
        background-color: #45792F;
    }
    .touch &:hover {
        background-color: #5b9e3e;
    }
    appearance: none;
    transition: background-color .25s ease-in-out;
    border: none;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: #5b9e3e;
    color: #fff;
    font-family: inherit;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: .025em;
    padding: .75em 1.5em;
    margin-top: 2em;
    cursor: pointer;
}
.gfield_required {
    color: #c00;
    padding-left: .25em;
}
.gform_body .gform_fields {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.gform_fields li {
    &:first-child {
        margin-top: 0;
    }
    line-height: 1.3;
    margin-top: 2em;
}
.gfield_label {
    display: inline-block;
    padding-bottom: .25em;
}
.validation_error {
    @include break-min($m){
        font-size: 1.6em;
    }
    font-size: 1.2em;
    margin-bottom: 2em;
    color: #C00;
}
.validation_message {
    color: #C00;
    font-size: .75rem;
    margin-top: .25em;
}
.gform_confirmation_message_1 {
    @include break-min($m){
        font-size: 1.6em;
    }
    h3 {
        @include break-min($m){
            font-size: 1.75em;
        }
        font-size: 2em;
        color: #5b9e3e;
    }
    color: #414042;
    font-size: 1.2em;
}
.site-footer {
    hr {
        border: 0;
        height: 1px;
        width: 100%;
        margin: 0;
        clear: both;
    }
    .redirect,
    .legal {
        font-size: 1.2em;
        margin: .5em 0 0;
    }
    .redirect a {
        &:hover {
            border-bottom: 1px solid rgba(91, 158, 62, 1);
        }
        border-bottom: 1px dotted rgba(91, 158, 62, .5);
    }
    text-align: center;
    padding: 5em 0;
}
