/* ==========================================================================
   Absolute position
   Example: @include abs-pos(20px, 30px, auto, auto)
   ========================================================================== */
/* ==========================================================================
   Media Query
   Example: @include break('min-width: 321px'){ Custom CSS Styles }
   ========================================================================== */
/* ==========================================================================
   Media Query (Max-Width)
   Example: @include break-max(700px){ Custom CSS Styles }
   ========================================================================== */
/* ==========================================================================
   Media Query (Min-Width)
   Example: @include break-min(700px){ Custom CSS Styles }
   ========================================================================== */
/* ==========================================================================
   Media Query (Handheld devices)
   Example: @include handheld(){ Custom CSS Styles }
   ========================================================================== */
/* ==========================================================================
   Clear Floats
   Example: @include clearfix()
   http://bit.ly/evOPw5
   ========================================================================== */
/* ==========================================================================
   Retina Images
   Example: @include image-2x('path/to/file.jpg', 500px, 500px)
   ========================================================================== */
/* ==========================================================================
   Removes list stylings
   Example: @include list-reset()
   ========================================================================== */
/* ==========================================================================
   CSS3 Linear Gradient (with IE support and fallback)
   Example: @include linear-gradient(#ffffff, #000000)
   ========================================================================== */
/* ==========================================================================
Color Helpers
Example: @include color(#000)
========================================================================== */
/**************************
*                         *
*      LAYOUT / GRID      *
*                         *
**************************/
.layout-wrap {
  width: 100%;
  padding: 0 2em; }
  @media (min-width: 64em) {
    .layout-wrap {
      width: 96em;
      margin: 0 auto;
      padding: 0; } }

/**************************
*                         *
*         COLORS          *
*                         *
**************************/
.color-primary {
  color: #5b9e3e; }

.bg-color-primary {
  background-color: #5b9e3e; }

.color-dark {
  color: #414042; }

.bg-color-dark {
  background-color: #414042; }

.color-med {
  color: #58595b; }

.bg-color-med {
  background-color: #58595b; }

.color-light {
  color: #f2f2f2; }

.bg-color-light {
  background-color: #f2f2f2; }

.color-white {
  color: #fff; }

.bg-color-white {
  background-color: #fff; }

/**************************
*                         *
*          ICONS          *
*                         *
**************************/
@font-face {
  font-family: "cash-chiropractic";
  src: url("../fonts/cash-chiropractic.eot");
  src: url("../fonts/cash-chiropractic.eot?#iefix") format("embedded-opentype"), url("../fonts/cash-chiropractic.woff") format("woff"), url("../fonts/cash-chiropractic.ttf") format("truetype"), url("../fonts/cash-chiropractic.svg#cash-chiropractic") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "cash-chiropractic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cash-chiropractic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bubble:before {
  content: "a"; }

.icon-cash:before {
  content: "b"; }

.icon-heart:before {
  content: "c"; }

.icon-facebook:before {
  content: "d"; }

.icon-twitter:before {
  content: "e"; }

.icon-pin-map:before {
  content: "f"; }

/**************************
*                         *
*         HELPERS         *
*                         *
**************************/
@media (min-width: 48em) {
  .mobile {
    display: none !important; } }

@media (max-width: 47.9375em) {
  .tablet {
    display: none !important; } }

@media (max-width: 48em) {
  .desktop {
    display: none !important; } }

.relative {
  position: relative; }

.list-reset {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }
  .list-reset > li {
    display: inline-block; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.inline {
  display: inline; }

.fixed {
  position: fixed; }

.transparent {
  opacity: 0; }

.underline {
  text-decoration: underline; }

.allcaps {
  text-transform: uppercase; }

.center-text {
  text-align: center; }

.bold {
  font-weight: 700; }

.regular {
  font-weight: 400; }

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.o-hidden {
  overflow: hidden; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.letter-spacing-1 {
  letter-spacing: .1em; }

.letter-spacing-2 {
  letter-spacing: .2em; }

.italic {
  font-style: italic; }

.normal {
  font-style: normal; }

.sans-serif {
  font-family: 'Avenir', 'Helvetica', sans-serif; }

.btn__inline-block, .btn__block {
  border-radius: 4px;
  padding: 0.4em 0.5em 0.3em; }

.btn__inline-block {
  display: inline-block; }

.btn__block {
  display: block; }

/**************************
*                         *
*  SITE DEFAULTS/RESETS   *
*                         *
**************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 0;
  font: 400 62.5%/1.3 "Gotham", "Montserrat", "Avenir", "Helvetica", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

figure {
  margin: 0; }

blockquote {
  margin: 0; }

/**************************
*                         *
*       TYPOGRAPHY        *
*                         *
**************************/
h2, .h2 {
  font-size: 2.5em; }
  @media (min-width: 48em) {
    h2, .h2 {
      font-size: 3.2em; } }

@media (max-width: 47.9375em) {
  body.menu-on {
    overflow-y: hidden; } }

.site-header {
  border-top: 0.6em solid #5b9e3e; }
  .site-header .layout-wrap {
    *zoom: 1; }
    .site-header .layout-wrap:before, .site-header .layout-wrap:after {
      content: " ";
      display: table; }
    .site-header .layout-wrap:after {
      clear: both; }
  .site-header .logo {
    float: left;
    width: 14em;
    height: 2.5em;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; }
    @media (min-width: 48em) {
      .site-header .logo {
        width: 19em;
        height: 3.35em; } }
    .site-header .logo a {
      background: transparent url("../images/logo.png") no-repeat center center/contain;
      text-indent: -999em;
      height: 100%; }
  .site-header .tel {
    font-size: 1.5em;
    margin-top: 3.5em;
    letter-spacing: -.05em;
    float: right; }
    @media (min-width: 48em) {
      .site-header .tel {
        font-size: 3.1em;
        margin-top: 1.4em; } }
  .site-header .site-nav-trigger {
    border: 1px solid #5b9e3e;
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 500;
    line-height: 1;
    font-size: 2.4em;
    height: 1.5em;
    width: 1.5em;
    padding: 0.2em 0 0 0.25em; }
    @media (min-width: 48em) {
      .site-header .site-nav-trigger {
        display: none; } }
    .menu-on .site-header .site-nav-trigger {
      border-color: #fff;
      color: #5b9e3e;
      background-color: #fff;
      padding: 0.3em 0 0 0.4em; }
  .site-header [class*="btn"] {
    transition: box-shadow 0.25s ease-in-out;
    font-size: 1.6em; }
    .site-header [class*="btn"]:hover {
      box-shadow: 0 0 0.375em rgba(0, 0, 0, 0.25); }
    .site-header [class*="btn"]:active {
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }
    @media (min-width: 48em) {
      .site-header [class*="btn"] {
        float: right;
        margin: 1.25em 0 0; } }

.site-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none; }
  .menu-on .site-nav {
    display: block;
    z-index: 400; }
  @media (min-width: 48em) {
    .site-nav {
      position: static;
      left: auto;
      z-index: auto;
      display: block;
      width: auto;
      top: auto;
      height: auto;
      overflow-y: visible; } }
  @media (max-width: 47.9375em) {
    .site-nav .list-reset {
      padding-right: 0; } }
  .site-nav .menu-item {
    display: block; }
    @media (min-width: 48em) {
      .site-nav .menu-item {
        padding: 0 2.25em;
        display: inline-block; } }
  @media (min-width: 48em) {
    .site-nav .current_page_item {
      position: relative; } }
  @media (max-width: 47.9375em) {
    .site-nav .current_page_item a {
      background-color: #66b045; } }
  @media (min-width: 48em) {
    .site-nav .current_page_item:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      border-top: 17px solid #5b9e3e;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent; } }
  .site-nav a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    display: block;
    padding: 1em 0;
    letter-spacing: .05em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    text-align: center; }
    @media (min-width: 48em) {
      .site-nav a {
        font-size: 1.2em;
        display: inline-block;
        border-bottom: none; } }

.hero {
  padding-bottom: 35.5%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: left top; }
  @media (min-width: 60em) {
    .hero {
      padding-bottom: 0;
      height: 34.5em;
      background-size: cover; } }
  @media (min-width: 60em) {
    [class*="home-php"] .hero {
      background-position: center 35%; } }
  @media (min-width: 60em) {
    [class*="services-php"] .hero {
      background-position: center 20%; } }

.tagline {
  position: relative; }
  .tagline:before {
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    content: "";
    display: block;
    border-left: 1.8em solid transparent;
    border-right: 1.8em solid transparent;
    border-top: 1.8em solid #5b9e3e; }
  body[class*="default"] .tagline:before {
    display: none; }
  @media (min-width: 48em) {
    body[class*="default"] .tagline .layout-wrap {
      position: relative; } }
  body[class*="default"] .tagline .layout-wrap:before {
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: 5em;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    content: "";
    display: block;
    border-left: 1.8em solid transparent;
    border-right: 1.8em solid transparent;
    border-top: 1.8em solid #5b9e3e; }
  .tagline h2 {
    padding: 1.25em 0; }
    @media (min-width: 48em) {
      .tagline h2 {
        padding: 1em 0; } }

@media (min-width: 48em) {
  .secondary {
    *zoom: 1;
    padding: 5em 0; }
    .secondary:before, .secondary:after {
      content: " ";
      display: table; }
    .secondary:after {
      clear: both; } }

.secondary .item {
  padding: 0 0 5em; }
  .secondary .item:first-child {
    padding: 5em 0; }
    @media (min-width: 48em) {
      .secondary .item:first-child {
        padding: 0 2em; } }
    @media (min-width: 64em) {
      .secondary .item:first-child {
        padding: 0 3em; } }
  @media (min-width: 48em) {
    .secondary .item {
      float: left;
      width: calc(1/3 * 100%);
      padding: 0 2em; } }
  @media (min-width: 64em) {
    .secondary .item {
      padding: 0 3em; } }

.secondary [class*="icon-"] {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 2em;
  padding: 0.55em 0.5em 0.21em; }

.secondary .item-body {
  font-size: 1.4em;
  margin: 1em 0 0;
  line-height: 1.5; }

.services-primary {
  padding: 5em 0 0; }
  @media (min-width: 48em) {
    .services-primary {
      *zoom: 1; }
      .services-primary:before, .services-primary:after {
        content: " ";
        display: table; }
      .services-primary:after {
        clear: both; } }
  .services-primary .item {
    padding: 0 0 5em; }
    @media (min-width: 48em) {
      .services-primary .item {
        float: left;
        width: 50%;
        padding: 0 3em 5em; } }
    @media (min-width: 64em) {
      .services-primary .item {
        padding: 0 5em 5em; } }
  .services-primary .item__title {
    font-size: 1.8em; }
    @media (min-width: 48em) {
      .services-primary .item__title {
        font-size: 2.4em; } }
  .services-primary .item-body {
    font-size: 1.4em;
    line-height: 1.85;
    margin: .5em 0 0;
    color: #6d6e71; }
    @media (min-width: 48em) {
      .services-primary .item-body {
        font-size: 1.8em; } }

.services-secondary {
  padding: 5em 0 0; }
  .services-secondary .heading {
    font-size: 1.8em; }
    @media (min-width: 48em) {
      .services-secondary .heading {
        font-size: 2.4em; } }
  .services-secondary .service-list {
    margin-top: 4em;
    padding-bottom: 1em; }
    @media (min-width: 48em) {
      .services-secondary .service-list {
        margin-top: 4em;
        padding-bottom: 2em; } }
  .services-secondary .service-item {
    margin-bottom: 1.5em;
    width: 100%;
    vertical-align: top; }
    @media (min-width: 48em) {
      .services-secondary .service-item {
        width: 50%;
        margin-bottom: .75em; } }
  @media (min-width: 48em) {
    .services-secondary .service-item.open {
      width: calc(50% - 2em);
      margin-right: 2em;
      padding-top: 1em;
      background-color: #fff; } }
  .services-secondary .cost {
    font-size: 1.8em;
    padding-right: .75em; }
    @media (min-width: 48em) {
      .services-secondary .cost {
        font-size: 2.4em; } }
  @media (min-width: 48em) {
    .services-secondary .open .cost {
      padding-left: .75em; } }
  .services-secondary .name {
    font-size: 1.2em; }
    @media (min-width: 48em) {
      .services-secondary .name {
        font-size: 1.6em; } }
  .services-secondary .trigger-service {
    font-size: 1.2em;
    margin-left: .5em; }
    @media (min-width: 48em) {
      .services-secondary .trigger-service {
        font-size: 1.6em; } }
  .services-secondary .open .details {
    max-height: none;
    height: auto;
    padding: 0 1em;
    margin: 1em 0; }
  .services-secondary .details {
    max-height: 0;
    height: 0;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.5;
    overflow: hidden; }
    @media (min-width: 48em) {
      .services-secondary .details {
        font-size: 1.6em; } }

.wysiwyg {
  padding: 5em 0 10em; }
  @media (min-width: 48em) {
    .wysiwyg.split .main, .wysiwyg.split .complement {
      display: inline-block;
      vertical-align: top; } }
  .wysiwyg.split .main {
    padding-bottom: 5em;
    padding-right: 0; }
    @media (min-width: 48em) {
      .wysiwyg.split .main {
        padding-bottom: 0;
        padding-right: 5em;
        width: 65%; } }
  .wysiwyg.split .complement {
    padding-left: 0; }
    @media (min-width: 48em) {
      .wysiwyg.split .complement {
        padding-left: 5em;
        width: 35%; } }
  .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
    font-weight: 700;
    color: #5b9e3e;
    margin: 0 0 1em; }
  .wysiwyg h3 {
    font-size: 2.4em; }
    @media (min-width: 48em) {
      .wysiwyg h3 {
        font-size: 2.8em; } }
  .wysiwyg h4 {
    font-size: 2em; }
    @media (min-width: 48em) {
      .wysiwyg h4 {
        font-size: 2.4em; } }
  .wysiwyg h5 {
    font-size: 1.6em; }
    @media (min-width: 48em) {
      .wysiwyg h5 {
        font-size: 2em; } }
  .wysiwyg h6 {
    font-size: 1.2em; }
    @media (min-width: 48em) {
      .wysiwyg h6 {
        font-size: 1.6em; } }
  .wysiwyg ul, .wysiwyg p {
    font-size: 1.2em;
    color: #414042; }
    @media (min-width: 48em) {
      .wysiwyg ul, .wysiwyg p {
        font-size: 1.6em; } }
  .wysiwyg p {
    margin: 0;
    padding: 0 0 1em;
    line-height: 1.5; }
  .wysiwyg strong {
    color: #5b9e3e; }
  .wysiwyg .complement ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; }
  .wysiwyg li {
    line-height: 1.5;
    margin-bottom: 1.25em; }
    .wysiwyg li:last-of-type {
      margin-bottom: 0; }
  .wysiwyg a {
    color: #5b9e3e;
    border-bottom: 1px dotted rgba(91, 158, 62, 0.5); }
    .wysiwyg a:hover {
      border-bottom: 1px solid #5b9e3e; }

.hours ul.color-med {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }
  .hours ul.color-med > li {
    display: inline-block; }
  .hours ul.color-med li {
    display: list-item; }

.outro {
  padding: 5em 0 0; }
  @media (min-width: 48em) {
    .outro {
      *zoom: 1;
      text-align: left; }
      .outro:before, .outro:after {
        content: " ";
        display: table; }
      .outro:after {
        clear: both; } }
  @media (min-width: 48em) {
    .outro .contact {
      width: calc(2/3 * 100%);
      float: left;
      padding: 0 7em 0 0; } }
  @media (min-width: 48em) {
    .outro .hours {
      width: calc(1/3 * 100%);
      float: left; } }
  .outro .method {
    padding: 0 0 3em; }
  .outro .method > p {
    font-size: 1.8em;
    margin: 0; }
  .outro .phone {
    font-size: 3.1em; }
  .outro .icon-pin-map {
    font-size: 4.4em;
    vertical-align: sub;
    margin-left: -.19em; }
    @media (min-width: 30em) {
      .outro .icon-pin-map {
        margin-left: 0; } }
  .outro .postal-address {
    font-size: 1.8em;
    font-style: normal;
    width: 13em;
    vertical-align: top; }
    @media (min-width: 30em) {
      .outro .postal-address {
        width: auto;
        vertical-align: inherit; } }
  .outro .btn-share {
    transition: box-shadow 0.25s ease-in-out;
    border-radius: 50%;
    font-size: 2em;
    width: 2em;
    height: 2em;
    margin: 0 0.75em;
    padding: 0.55em 0.5em 0.21em; }
    .outro .btn-share:hover {
      box-shadow: 0 0 0.375em rgba(0, 0, 0, 0.25); }
    .outro .btn-share:active {
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }
    @media (min-width: 48em) {
      .outro .btn-share {
        margin: 0 0.75em 0 0; } }
  .outro li {
    margin: 0 0 1em; }
  .outro li:last-child {
    margin-bottom: 0; }
  .outro .allcaps {
    font-size: 2.2em;
    margin: 0 0 0.15em; }
  .outro .label {
    font-size: 1.8em;
    margin: 0; }
  .outro .value {
    font-size: 1.6em; }

.site-footer {
  text-align: center;
  padding: 5em 0; }
  .site-footer hr {
    border: 0;
    height: 1px;
    width: 100%;
    margin: 0;
    clear: both; }
  .site-footer .redirect,
  .site-footer .legal {
    font-size: 1.2em;
    margin: .5em 0 0; }
  .site-footer .redirect a {
    border-bottom: 1px dotted rgba(91, 158, 62, 0.5); }
    .site-footer .redirect a:hover {
      border-bottom: 1px solid #5b9e3e; }
